<div class="table-container">


    
  
    <!-- Master Toggle Button -->
    
  
    <table  mat-table [dataSource]="dataFolderList" multiTemplateDataRows>
  
      <ng-container matColumnDef="ClientFolderId">
        <th class="main-table-header" mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ClientFolderId}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="FolderName">
        <th class="main-table-header" mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.FolderName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="FolderDescription">
        <th class="main-table-header" mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.FolderDescription}} </td>
      </ng-container>
  
  
     
  
      <ng-container matColumnDef="Action">
        <th class="main-table-header" mat-header-cell *matHeaderCellDef> &nbsp;&nbsp;&nbsp; Actions </th>
        <td  mat-cell *matCellDef="let element">
          <a mat-button href="javascript:void()" (click)="element.isExpanded = !element.isExpanded">
            <span *ngIf="!element.isExpanded"> View Documents </span>
            <span *ngIf="element.isExpanded"> Hide Documents </span>
          </a>
        </td>
      </ng-container>
  
  
      <!-- Template for details row -->
      <ng-container matColumnDef="expandedDetail">
        <td  mat-cell *matCellDef="let element" [attr.colspan]="displayedFolderColumnsList.length">
  
          <div class="row folder-element-detail" [ngClass]="element.isExpanded ? 'black-border' : 'black'"   [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
            <div class="folder-element-detail-inner">
            <!-- <mat-list>
              <div > <h5>Documents of {{element.FolderName}} </h5> </div>
              <mat-list-item *ngFor="let document of element.Documents">
                <div mat-line>Document Name: {{document.DocumentName}}</div>
                <div mat-line>Document Status: {{document.Status}} </div>
                <div  mat-line> <input type="text" name="" id=""> </div>
              </mat-list-item>
            </mat-list> -->
            <div class="filters-div" >
                <mat-radio-group [(ngModel)]="element.show" aria-label="Show only">
                    <mat-radio-button value="all">All</mat-radio-button>
                    <mat-radio-button value="edited">Edited</mat-radio-button>
                    <mat-radio-button value="unedited">Unedited</mat-radio-button>
                  </mat-radio-group>

            </div>
            
              
            <table class="mat-table" >
                <tr class="mat-header-row">
                  <th class="mat-header-cell">Edited?</th>
                  <th class="mat-header-cell">Document Name</th>
                  <th class="mat-header-cell">Status</th>
                  <th class="mat-header-cell">Notes</th>
                </tr>
                
                <ng-container *ngFor="let document of element.Documents">
                    <tr  *ngIf="element.show=='all' ? true : element.show=='edited' ? document.isChanged :  !document.isChanged  " class="mat-row">
                        <td  class="mat-cell">
                            <i matTooltip="Blue when this entry is edited" [ngClass]="document.isChanged ? 'blue-dark fa-2x' : 'gray'" class="fa fa-edit"></i>
                        </td>
                        <td class="mat-cell">
                         <a mat-button target="_blank" href="{{makeSearchString(document.DocumentName)}}">{{document.DocumentName}}</a> 
                        </td>
      <!-- [ngClass]="getColor(document.Status)" -->
                        <td  class="mat-cell ">
                              <!-- <mat-form-field appearance="fill" class="mySelectForm">
                                      
                                      <mat-select (selectionChange)="document.isChanged=true;"  [(value)]="document.Status">
                                        <mat-option [ngClass]="status.color" *ngFor="let status of statuses" [value]="status.value">
                                           {{status.viewValue}}
                                        </mat-option>
                                      </mat-select>
                             </mat-form-field> -->
                            <div  class="form-group status-selection-container" >
                              <!-- [ngClass]="status.color" -->
                              <select (change)="document.isChanged=true;"  [(ngModel)]="document.Status"  class="form-control" [ngClass]="getColor(document.Status) + '-background'"  >
                                <option  *ngFor="let status of statuses" [value]="status.value" >
                                  {{status.viewValue}}
                                </option>
                                
                              </select>
                            </div>
                                    
                        </td>
                        <td class="mat-cell"> 
      
                                      <mat-form-field class="documents-form-full-width" appearance="outline">
                                       <textarea (ngModelChange)="document.isChanged=true;" [(ngModel)]="document.Notes" matInput placeholder="Ex: This is a very good document">
                                        </textarea>
                                      </mat-form-field>
                              
                        </td>
                      </tr>
                </ng-container>

               
              </table>
            </div>
          </div>
  
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedFolderColumnsList; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedFolderColumnsList;" class="folder-element-row"
        [class.folder-expanded-row]="element.isExpanded"></tr>
  
      <!-- Extra row to show detail content column -->
      
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="folder-detail-row "></tr>
  
    </table>
    <!-- PS: iloveu  -->
  
  </div>

  <button (click)="mylog()" > Log array in console</button>